
body{
  background-color: rgb(243, 240, 215);
  background-image: linear-gradient(to right, rgb(243, 240, 215) , rgb(255, 191, 134));
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;

  color:black;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color:black;
}
 

h2.listitem {
  margin: 0;
  margin-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(170, 124, 97);
}


  #container > div > img {
    max-width: 200px;
    max-height: 200px;
    
  }

  a:hover,
  a:active {
    background-color: rgb(102, 101, 101);
  }

  .listframe{
    margin: 50px;
    width: 400px;
    max-height: fit-content;
    height: 100%;
    background: rgb(135, 170, 170);
    padding: 10px;
    border: solid black 2px;
    border-radius: 20px;
    display: grid;
    float: left;

  }
  .listItem{

    background-color: rgb(200, 227, 212);

    height: 20px;
    padding: 5px; 
    align-content: right; 
    border-color:rgb(200, 227, 212) 
    
  }
  .button {
    background-color: rgb(200, 227, 212);
    border-color: rgb(206, 229, 208);
    font-size: medium;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    align-content: right;
    display: inline-block;
    margin-left: auto;
  }

  .button:hover {
    background-color: rgb(140, 179, 170);
  }

  #btnLogIn{
    margin-left: 8x;
  }

  .right{
    display: grid;
    float: right;
  }

.deleteButton{
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  background-color: rgb(200, 227, 212);
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    align-content: right;
    max-height: 20px;
}

.deleteButton:hover {
  background-color: rgb(140, 179, 170);
}

#uname{
  background-color: rgb(200, 227, 212);
  padding: 5px 5px;
  text-align: center;
  border-color:rgb(200, 245, 231);
  align-content: right;
  position: sticky;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}


#pword{
  background-color: rgb(200, 227, 212);
  padding: 5px 5px;
  text-align: center;
  border-color:rgb(200, 245, 231);
  align-content: right;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;


}

label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

form{
  background-color:rgb(137, 181, 175);
  height: 180px;
  width: 300px;
  align-content: center;
  min-width: 100px;
  border-radius: 5px;
  padding: 5px 0px 10px 20px;
  
}


input{
background-color:rgb(200, 227, 212);
border-color:rgb(200, 227, 212);
border-radius: 5px;
padding: 5px 5px 5px;
}



